body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    width: 960px;
    height: 700px;
    margin-top: 10px;
}

#main {
    float: left;
    width: 750px;
}

#sidebar {
    float: right;
    width: 100px;
}

#sequence {
    width: 600px;
    height: 70px;
}

#legend {
    padding: 10px 0 0 3px;
}

#sequence text, #legend text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    position: relative;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 260px;
    left: 305px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
}

#percentage {
    font-size: 2.5em;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: orange;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.bundesland{
    fill: black;
   stroke:white;
}

.grenzen{
    color:white;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    width: 960px;
    height: 700px;
    margin-top: 10px;
}

#main {
    float: left;
    width: 750px;
}

#sidebar {
    float: right;
    width: 100px;
}

#leftsidebar {
    float: left;
    width: 210px;
    height: 600px;
    color: #fff !important;
}

#sequence {
    width: 600px;
    height: 70px;
}

#legend {
    padding: 10px 0 0 3px;
}

#sequence text, #legend text {
    font-weight: 600;
    fill: #fff;
}

#leftsidebar text {
    font-weight: 600;
    fill: #fff;
}

polygon {
    width: 500px !important;
}

#chart {
    position: relative;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 260px;
    left: 305px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
}

#percentage {
    font-size: 2.5em;
}
